*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hide{
    display: none;      
}

.car,.enemy{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: blue;
}

.gameArea{
  
    width: 400px;
    height: 100vh;
    background-color: black;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.line{
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: white;
    margin-left: 50%;
}