*{
   
    box-sizing: border-box;
}

body{
    height: 100%;

}
.hide{
    display: none;      
}

.car,.enemy{
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: blue;
}

.gameArea{
  
    width: 400px;
    height: 90vh;
    background-color: black;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.line{
    position: absolute;
    width: 10px;
    height: 100px;
    background-color: white;
    margin-left: 50%;
}

.score{
    background: black;
    color:white;
    text-align: center;
    height: 3rem;
    position: sticky;
    margin: auto;
    display: none;
}